
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# Environment variables files
.env.local
.env.*

# Local Docker and build files
npm-debug.log*
.DS_Store
